// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-color: #F8F8F8;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 10px;
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 1.5rem;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

// Mixins //
.box-properties {
	border: 1px solid white;
	border-radius: 8px;
	background-color: #E8E8E8
}

.bottom-content-box-properties {
	width: 49.5%;
	margin-top: 1%;
}

.tech-images {
	width: 50%;
	height: auto;
}

.container {
	max-width: 1000px;
	margin: auto;

	// Header //
	header {
		width: 100%;
		height: 100px;
		margin-top: 30px;
		display: flex;

		nav {
			.box-properties();
			text-align: center;
			width: 50%;
			height: 80%;
			margin: auto;
			display: flex;
			align-items: center;
			justify-content: space-evenly;

			a {
				text-decoration: none;
				background-color: #F8F8F8;
				color: black;
				border-radius: 8px;
				padding: 10px;
				transition: transform 0.3s;
				font-size: 1.2rem;
			}
			a:hover {
				transform: scale(1.3);
			}
		}
	}

	// Top Content Section //
	.top-content {
		.box-properties();
		width: 100%;
		height: auto;
		padding-top: 7%;
		padding-bottom: 7%;
		display: flex;
		justify-content: space-evenly;

		.left-content {
			display: flex;
			flex-direction: column;
			width: 33%;
			align-items: center;
			margin: auto;
			margin-left: 1.5%;
			margin-right: 1.5%;
			background-color: #F8F8F8;
			border-radius: 8px;
			padding-top: 1%;
			padding-bottom: 1%;

			h1 {
				padding-bottom: 15px;
			}
			h2 {
				width: 75%;
				text-align: center;
				padding-top: 15px;
				padding-bottom: 15px;
				border-top: 1px solid grey;
			}
		}

		img {
			width: 33%;
			height: 80%;
			margin: auto;
			border-radius: 12px;
			border: .2em solid #F8F8F8;
		}

		.right-content {
			font-style: italic;
			width: 33%;
			display: flex;
			align-items: center;
			text-align: center;
			margin: auto;
			padding: 2%;

			p{
				font-size: 1.3em;
			}
		}
	}

	.bottom-content {
		width: 100%;
		height: auto;
		display: flex;
		justify-content: space-between;

		.technologies {
			.bottom-content-box-properties();
			.box-properties();
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;

			h2 {
				width: 50%;
				margin: 3%;
				font-size: 2em;
				border-bottom: 2px solid grey;
				padding-bottom: 3%;
			}

			.tech-images {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				width: 90%;

				img {
					width: 30%;
					height: 30%;
					margin: 4%;
				}
			}
		}
		.education {
			.bottom-content-box-properties();
			.box-properties();
			text-align: center;
		}
	}
}

